@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@*Welcome to your new app.*@

<Notification 
    Content="Toimuvad silla hooldustööd. Sild on jälakäijatele suletud. Avatakse pärast seda"
/>

<ProgressBar Progress="5" TimeType="ProgressBar.ETimeType.Seconds"  />

@*<ProgressBar Progress="5" TimeType="ProgressBar.ETimeType.Minutes"  />
<ProgressBar Progress="5" TimeType="ProgressBar.ETimeType.Hours"  />
<ProgressBar Progress="5" TimeType="ProgressBar.ETimeType.Days"  />*@
