@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@*Welcome to your new app.*@

<Notification 
    Content="Toimuvad silla hooldustööd. Sild on jälakäijatele suletud. Avatakse pärast seda"
/>
