@inherits LayoutComponentBase

<PageTitle>CountdownTimer</PageTitle>

<div class="page">


    <div class="flex-container">
        @*<div class="i"></div>*@
        <div class="column">
            @Body
        </div>
    <div class="column">
            <div class="image">
            </div>
        </div>
    </div>
    @*<div class="i"></div>*@
</div>

