.notification-box {
    background: #39a1ff;
    margin-top: 12.7em;
    text-align:center;
}

p {
    margin: 0;
}

.title {
    color: #130035;
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
}

.content {
    height: auto;
    width: 333px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    color: #fefefc;
    font-size: 21px;
}