
<div class="progress-bar">
    <div class="circular-progress" style="@Style">
        <span class="progress-value">@Progress</span>
    </div>

    <span class="time-type">@TimeType</span>


</div>



@code {
    [Parameter]
    public int Progress { get; set; }

    [Parameter]
    public ETimeType TimeType { get; set; }

    [Parameter]
    public string? Style { get; set; }

    public enum ETimeType
    {
        Secundit,
        Minutit,
        Tundi,
        Päeva,
    }

}
