

<div class="timer-section">

    @if (days > 0)
    {
        <ProgressBar 
            Progress=@days
            TimeType="ProgressBar.ETimeType.Päeva"
            Style=@daysStyle
        />
    }


    <ProgressBar 
        Progress=@hours
        TimeType="ProgressBar.ETimeType.Tundi"
        Style=@hoursStyle
    />

    <ProgressBar 
        Progress=@minutes
        TimeType="ProgressBar.ETimeType.Minutit"
        Style=@minutesStyle 
    />

    <ProgressBar 
        Progress=@seconds
        TimeType="ProgressBar.ETimeType.Secundit"
        Style=@secondsStyle 
    />
  
</div>
