

<div class="timer-section">

    @if (days > 0)
    {
        <ProgressBar 
            Progress=@days
            TimeType="ProgressBar.ETimeType.Days"
            Style=@daysStyle
        />
    }


    <ProgressBar 
        Progress=@hours  
        TimeType="ProgressBar.ETimeType.Hours"
        Style=@hoursStyle
    />

    <ProgressBar 
        Progress=@minutes       
        TimeType="ProgressBar.ETimeType.Minutes"
        Style=@minutesStyle 
    />

    <ProgressBar 
        Progress=@seconds
        TimeType="ProgressBar.ETimeType.Seconds"
        Style=@secondsStyle 
    />
  
</div>
@*
<br />
<br />
<br />
Timer Section: @test*@