@inherits LayoutComponentBase

<PageTitle>CountdownTimer</PageTitle>

<div class="page">


    <div class="flex-container">
        <div class="notification-box column">
            @Body
        </div>
    <div class="column">
            <div class="bg ">
            </div>
        </div>
    </div>
</div>

