@inherits LayoutComponentBase

<PageTitle>CountdownTimer</PageTitle>

<div class="page">


    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @Body
                </div>
                
            </div>
        </div>
    </main>
</div>
