<div class="timer-section">
    <ProgressBar 
        Progress="5"    
        TimeType="ProgressBar.ETimeType.Hours" 
    />

    <ProgressBar 
        Progress="5"       
        TimeType="ProgressBar.ETimeType.Minutes" 
    />

    <ProgressBar 
        Progress="5"
        TimeType="ProgressBar.ETimeType.Seconds" 
    />





</div>

@code {

}
